<html lang="en">
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Restaurant Menus</h1>
            <h2>Please choose your restaurant to get the menu</h2>
            <form action="/restaurant" method="GET">
                <label for="restaurantId">Select a restaurant:</label>
                <select name="restaurantId" id="restaurantId">
                    <% restaurants.forEach((restaurant) => { %>
                        <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
                    <% }) %>
                </select>
                <button type="submit">Get the menu!</button>
            </form>


            <% let formattedrestaurantname = menuitem.restaurantid.replace(/-/g, " ") 
            let namearray = formattedrestaurantname.split(" ")
            let formattedarray = namearray.map((word) => {return word.charAt(0).toUpperCase()+word.slice(1)})
            let formattedfullname = formattedarray.join(" ")%>
            
            <h3><%= menuitem.name%></h3>
            <h3><%= menuitem.description%></h3>
            <h3><%= menuitem.price%></h3>
            <h3><%= menuitem.dailySpecial%></h3>
            <h3><%= formattedfullname %></h3>
            
            <a href="/menualerts">Go to menu alerts page</a>
        </main>
    </body>
</html>