<html lang="en">
    <head>
        <title>Menu Alerts Page</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Menu Alerts</h1>
            <h3><%= dailyspecial.restaurantid%></h3>
            <h3><%= dailyspecial.dailySpecial%></h3>
            <h3><%= dailyspecial.name%></h3>
            <h3><%= dailyspecial.description%></h3>
            <h3><%= dailyspecial.price%></h3>
            <% dailyspecial.forEach((dish) => { %>
                <p><%= dish.restaurantid %>: <%= dish.name %></p>
            <% }) %>
        </main>
    </body>
</html>